<a href="https://colab.research.google.com/github/Banafshehkh/Interview_Preparation/blob/main/Data_Science_Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import plotly.express as px

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [26]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
data = pd.read_csv("/content/drive/MyDrive/interview/ds_salaries.csv")
data.head(5)

   work_year experience_level  ... company_location company_size
0       2023               SE  ...               ES            L
1       2023               MI  ...               US            S
2       2023               MI  ...               US            S
3       2023               SE  ...               CA            M
4       2023               SE  ...               CA            M

[5 rows x 11 columns]

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [29]:
data.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [30]:
data["work_year"].unique()

array([2023, 2022, 2020, 2021])

In [31]:
are_equal = data["employee_residence"] == data["company_location"]

if are_equal.all():
    print("Values of column1 and column2 are the same.")
else:
    print("Values of column1 and column2 are different.")

Values of column1 and column2 are different.

In [32]:
# correlation = data.corr()
# correlation["salary"].sort_values(ascending = False)

In [33]:
df = data.drop(["employee_residence", "salary_currency", "salary"], axis=1)
df.head()

   work_year experience_level  ... company_location company_size
0       2023               SE  ...               ES            L
1       2023               MI  ...               US            S
2       2023               MI  ...               US            S
3       2023               SE  ...               CA            M
4       2023               SE  ...               CA            M

[5 rows x 8 columns]

In [34]:
df["experience_level"].unique()

array(['SE', 'MI', 'EN', 'EX'], dtype=object)

In [35]:
df["experience_level"] = df["experience_level"].map({"SE" : 0,
                                                     "MI" : 1,
                                                     "EN": 2,
                                                     "EX": 3})
df.head(4)

   work_year  experience_level  ... company_location company_size
0       2023                 0  ...               ES            L
1       2023                 1  ...               US            S
2       2023                 1  ...               US            S
3       2023                 0  ...               CA            M

[4 rows x 8 columns]

In [45]:
X = df[["experience_level", "remote_ratio" ]]
y = df["salary_in_usd"]

In [46]:
Xtrain, Xremain, ytrain, yremain = train_test_split(X,y, test_size=0.2, random_state= 42)
Xval, Xtest, yval, ytest= train_test_split(Xremain, yremain, test_size = 0.5, random_state=42)

In [47]:
gbr = GradientBoostingRegressor(random_state=42)

In [48]:
gbr.fit(Xtrain, ytrain)

GradientBoostingRegressor(random_state=42)

In [51]:
y_pred = gbr.predict(Xtest)

In [53]:
mse = mean_squared_error(ytest, y_pred)
rmse = np.sqrt(mse)

print("Mean Squared Error: {:.2f}".format(rmse))

Mean Squared Error: 59137.62